@import "../../index.css";

.toolbar {
  @apply relative w-fit mx-auto flex gap-3 py-2 bg-(--gray-2) px-3 rounded-full justify-center items-center;
  box-shadow: 0px 3px 6px var(--gray-a5);
  background: linear-gradient(to bottom, var(--gray-1), var(--gray-2));
}
.toolbar::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px; /* border thickness */
  background: linear-gradient(to bottom, var(--gray-1), var(--gray-5));
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.editor-container {
  @apply relative flex flex-col gap-2 w-200 my-5 mx-auto rounded-2xl;
}

.editor-inner {
  @apply relative;
}

.editor-placeholder {
  @apply absolute top-4 left-2 select-none text-gray-400 overflow-hidden;
  text-overflow: ellipsis;
}

.editor-input {
  @apply relative min-h-38 resize-none text-base caret-slate-400 outline-0 px-2 py-4;
  tab-size: 1;
}

.editor-heading-h1 {
  @apply text-2xl font-bold my-2;
}

.editor-heading-h2 {
  @apply text-xl font-bold my-1.5;
}

.editor-heading-h3 {
  @apply text-lg font-semibold my-1;
}

.editor-paragraph {
  @apply m-0 mb-2 relative;
}

/* Text Styles */

.editor-text-bold {
  @apply font-bold;
}

.editor-text-italic {
  @apply italic;
}

.editor-text-underline {
  @apply underline;
}

.editor-text-strikethrough {
  @apply line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-list-ul {
  @apply list-inside list-disc my-1;
}

.editor-list-ol {
  @apply list-inside list-decimal my-1;
}
