@import "tailwindcss";
@import "./theme-light.css";
@import "./theme-dark.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--gray-11);
  background-color: var(--color-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-color: var(--gray-11);
  --base-shadow: 0px 3px 6px var(--gray-a5);
  --base-shadow-inset: 0px 1px 6px var(--gray-a5);
}

::selection {
  color: var(--color-background);
  background-color: var(--gray-9);
}

:focus-visible {
  outline: none;
}

/* Standard styles */

.text-sideway {
  writing-mode: sideways-lr;
}

.bg-grid {
  box-shadow: var(--base-shadow);
  background-image:
    linear-gradient(to bottom, transparent, var(--gray-a1)),
    linear-gradient(var(--gray-a2) 1px, transparent 1px),
    linear-gradient(90deg, var(--gray-a2) 1px, transparent 1px);
  background-size:
    100% 100%,
    17px 17px,
    17px 17px;
}
