.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #171b1c;
}

.dark,
.dark-theme {
  --accent-1: #131c20;
  --accent-2: #172024;
  --accent-3: #162e39;
  --accent-4: #13394a;
  --accent-5: #194558;
  --accent-6: #235368;
  --accent-7: #2f657d;
  --accent-8: #3a7d9b;
  --accent-9: #59a1c2;
  --accent-10: #4d94b5;
  --accent-11: #7cc4e7;
  --accent-12: #c3e8fb;

  --accent-a1: #004fe905;
  --accent-a2: #18a9ff09;
  --accent-a3: #10adfd21;
  --accent-a4: #04affe34;
  --accent-a5: #1fb9fd44;
  --accent-a6: #3bc2fd56;
  --accent-a7: #50c9ff6d;
  --accent-a8: #56caff8f;
  --accent-a9: #71d2ffbb;
  --accent-a10: #68ceffac;
  --accent-a11: #88d7fee5;
  --accent-a12: #c6ecfffb;

  --accent-contrast: #fff;
  --accent-surface: #17252c80;
  --accent-indicator: #59a1c2;
  --accent-track: #59a1c2;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --accent-1: oklch(21.8% 0.0143 229.9);
      --accent-2: oklch(23.6% 0.0153 229.9);
      --accent-3: oklch(28.8% 0.0365 229.9);
      --accent-4: oklch(32.6% 0.0519 229.9);
      --accent-5: oklch(36.8% 0.0581 229.9);
      --accent-6: oklch(41.7% 0.062 229.9);
      --accent-7: oklch(48% 0.0687 229.9);
      --accent-8: oklch(55.8% 0.0818 229.9);
      --accent-9: oklch(67.4% 0.0872 229.9);
      --accent-10: oklch(63.5% 0.0872 229.9);
      --accent-11: oklch(78.6% 0.0872 229.9);
      --accent-12: oklch(91.1% 0.0467 229.9);

      --accent-a1: color(display-p3 0 0.3255 0.9843 / 0.018);
      --accent-a2: color(display-p3 0.2039 0.651 0.9843 / 0.036);
      --accent-a3: color(display-p3 0.2235 0.6784 0.9961 / 0.124);
      --accent-a4: color(display-p3 0.1961 0.6941 1 / 0.194);
      --accent-a5: color(display-p3 0.2941 0.7373 1 / 0.256);
      --accent-a6: color(display-p3 0.3843 0.7686 1 / 0.326);
      --accent-a7: color(display-p3 0.4431 0.7882 1 / 0.419);
      --accent-a8: color(display-p3 0.4588 0.7961 1 / 0.547);
      --accent-a9: color(display-p3 0.5412 0.8235 1 / 0.719);
      --accent-a10: color(display-p3 0.5176 0.8157 1 / 0.661);
      --accent-a11: color(display-p3 0.6118 0.8549 1 / 0.877);
      --accent-a12: color(display-p3 0.8078 0.9255 1 / 0.974);

      --accent-contrast: #fff;
      --accent-surface: color(display-p3 0.102 0.1412 0.1725 / 0.5);
      --accent-indicator: oklch(67.4% 0.0872 229.9);
      --accent-track: oklch(67.4% 0.0872 229.9);
    }
  }
}

.dark,
.dark-theme {
  --gray-1: #181b1d;
  --gray-2: #1e2124;
  --gray-3: #252a2e;
  --gray-4: #2b3035;
  --gray-5: #31363b;
  --gray-6: #383e43;
  --gray-7: #454a4f;
  --gray-8: #5d6268;
  --gray-9: #696f74;
  --gray-10: #767c82;
  --gray-11: #aeb4ba;
  --gray-12: #ebeef1;

  --gray-a1: #971b9c02;
  --gray-a2: #dec5ff09;
  --gray-a3: #c1d2f715;
  --gray-a4: #c7d4f81d;
  --gray-a5: #d5e0fe23;
  --gray-a6: #d7e6ff2c;
  --gray-a7: #e2eafc3a;
  --gray-a8: #e7eefd56;
  --gray-a9: #ebf3ff63;
  --gray-a10: #e9f2ff73;
  --gray-a11: #eff7ffb2;
  --gray-a12: #f9fbfef0;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #696f74;
  --gray-track: #696f74;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --gray-1: oklch(21.8% 0.0069 248.2);
      --gray-2: oklch(24.7% 0.0076 248.2);
      --gray-3: oklch(28.1% 0.0109 248.2);
      --gray-4: oklch(30.5% 0.0114 248.2);
      --gray-5: oklch(32.9% 0.0114 248.2);
      --gray-6: oklch(35.9% 0.0114 248.2);
      --gray-7: oklch(40.6% 0.0114 248.2);
      --gray-8: oklch(49.4% 0.0114 248.2);
      --gray-9: oklch(53.8% 0.0114 248.2);
      --gray-10: oklch(58.2% 0.0114 248.2);
      --gray-11: oklch(76.7% 0.0114 248.2);
      --gray-12: oklch(94.8% 0.0054 248.2);

      --gray-a1: color(display-p3 0.8824 0.1098 0.898 / 0.005);
      --gray-a2: color(display-p3 0.8588 0.7608 0.9843 / 0.036);
      --gray-a3: color(display-p3 0.7804 0.8431 0.9922 / 0.08);
      --gray-a4: color(display-p3 0.8039 0.851 0.9961 / 0.111);
      --gray-a5: color(display-p3 0.8627 0.9059 0.9961 / 0.133);
      --gray-a6: color(display-p3 0.8667 0.9255 1 / 0.168);
      --gray-a7: color(display-p3 0.9137 0.9412 1 / 0.221);
      --gray-a8: color(display-p3 0.9255 0.949 1 / 0.331);
      --gray-a9: color(display-p3 0.9333 0.9647 1 / 0.384);
      --gray-a10: color(display-p3 0.9333 0.9608 1 / 0.445);
      --gray-a11: color(display-p3 0.9529 0.9765 1 / 0.692);
      --gray-a12: color(display-p3 0.9804 0.9843 1 / 0.939);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(53.8% 0.0114 248.2);
      --gray-track: oklch(53.8% 0.0114 248.2);
    }
  }
}
